---
layout: default
title: D&amp;D 5e travel calculator
meta_description: "Dungeons and Dragons (5e) travel calculator"
meta_keywords: "Dungeons and Dragons, dnd, 5e, dungeons, dragons, travel, time, distance, calculator"
hasAds: false
---

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ page.title }}</h1>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header">
            <ul id="tabs" class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a id="by-land" class="nav-link active" onClick="swapTab(this);" href="#">By Land</a>
                </li>
                <li class="nav-item">
                    <a id="by-sea" class="nav-link" onClick="swapTab(this);" href="#">By Sea</a>
                </li>
            </ul>
        </div>
        <div id="card-body-by-land" class="card-body travel-calc">
            {% include land.html %}
        </div>
        <div id="card-body-by-sea" class="d-none card-body travel-calc">
            {% include sea.html %}
        </div>
    </div>


    <script type="text/javascript">
        function swapTab(link) {
            $(".nav-link").removeClass("active");
            $("#" + link.id).addClass("active");
            $(".travel-calc").addClass("d-none");
            $("#card-body-" + link.id).removeClass("d-none");
        }
    </script>
</div>

<script src="dist/travel-calculator.min.js"></script>